# Исключить папку .idea (создаётся IDE от JetBrains)
.idea/

# Исключить конкретный файл
start_times.txt

# Дополнительные полезные исключения (опционально)
# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы виртуального окружения Python (если используете)
venv/
env/
__pycache__/
*.pyc

# Логи и временные файлы
*.log
*.tmp


.env
*.key
*.pem

# файлы сборки
SystemMonitor.spec
build/
dist/